@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Bungee+Shade&family=Butcherman&family=Crimson+Text&family=Faster+One&family=Gemunu+Libre&family=Mochiy+Pop+One&family=Molle&family=Montserrat:wght@300;400&family=Noto+Sans+Mono:wght@300&family=Overpass&family=Rajdhani&display=swap');

:root {
  --nav-width: 11em;
  --bg-gray: #525059;
  --fore-gold: rgb(255, 204, 0);
  --btn-gold: rgb(246, 255, 0);
  --offcanvas-bg-color: black;
  --component-bg: #10486737;
}

body {
  /* font-family: 'Blaka Ink', cursive; */
  /* font-family: 'Bungee Shade', cursive; */
  /* font-family: 'Butcherman', cursive; */
  /* font-family: 'Crimson Text', serif; */
  /* font-family: 'Faster One', cursive; */
  /* font-family: 'Gemunu Libre', sans-serif; */
  /* font-family: 'Mochiy Pop One', sans-serif; */
  /* font-family: 'Molle', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Noto Sans Mono', monospace; */
  /* font-family: 'Overpass', sans-serif; */
  /* background-color: #655d65;
  color: white; */
  background: url('./components/home/mad_myrtle.jpg');
  background: var(--bg-gray);
  background: radial-gradient(#e66465, #9198e5);
  background: radial-gradient(#013254 150%, #13243546 250%);
  /* background: transparent; */
  color: var(--fore-gold);
  font-family: 'Rajdhani', sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
}

.App {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .app-container {
  display: flex;
} */

.app-content {
  min-height: 96vh;
  width: calc(100vw - 12em);
  margin-top: 0;
  /* overflow-y: scroll; */
  /* border: 4px solid darkgoldenrod; */
}

@media (max-width: 992px) {
  .app-content {
    width: 100%;
  }
}

.form-row {
  display: flex;
}

/* 內內內內內 */
/* #region common component classes */
.main-header {
  display: flex;
  justify-content: center;
  padding: .3em 0 .1em 0;
  /* width: 50vw;
  margin: auto; */
}

h1.title {
  border-bottom: .2px solid #4444;
  padding: .2em 0 1.3em 0;
  height: 37.5px;
  width: 100%;
  margin: 0;
  font-size: 20px;
  /* font-weight: bold; */
  text-shadow: .6px .6px rgb(45, 45, 228);
}

h2.title {
  position: relative;
  left: .5em;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Gemunu Libre', sans-serif;
  /* font-family: 'Bungee Shade', cursive; */
  /* font-family: 'Faster One', cursive; */
  color: rgb(255, 204, 0);
  color: white;
  font-size: 34px;
  /* font-weight: bold; */
  letter-spacing: .8pc;
  -webkit-text-stroke: 1px #225;
  text-shadow: -.2px .2px .2px #225,
    .2px .2px .2px #225,
    .2px -.2px 0 #225,
    -.2px -.2px 0 #225;
  margin: 0;
}

h2.title>span {
  font-family: 'Rajdhani', sans-serif;
  color: var(--fore-gold);
  -webkit-text-stroke: 0;
  text-shadow: none;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 1.5em;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 90%;
  min-height: 100%;
  margin: auto;
  background-color: var(--component-bg);
  border-radius: 8%;
  padding: 1em 1em 5em 1em;
  box-shadow: .2px .2px 5px .41px fuchsia;
  /* border: .4px solid deeppink; */
}

/* #endregion common component classes */





/* 內內內內內 */
/* #region offcanvas nav */
.show-offcanvas-button {
  z-index: 13;
  position: absolute;
  top: 3px;
  right: .5em;
  width: 36px;
  height: 30px;
  padding: 0 .2em 0 .2em;
  /* background-color: #1146; */
  background-color: rgba(248, 82, 77, 0.751);
  border: none;
  transform: scale(75%);
}

.burger {
  font-size: 30px;
  margin-right: .2em;
}

.offcanvas-full {
  background: rgba(255, 255, 255, 0.2);
  /* opacity: 0.5; */
  position: fixed;
  right: 0px;
  height: 100vh;
  min-width: var(--nav-width);
  /* padding: 0 1.5em; */
  margin: 0;
  /* border: 4px solid orange; */
}

.offcanvas-lg,
.offcanvas-end {
  background-color: rgba(255, 255, 255, 0.2);
  /* opacity: .5; */

}

.card-body {
  background-color: rgba(255, 255, 255, 0.2);

  min-width: var(--nav-width);
}

.card-header-mine {
  display: flex;
  justify-content: space-between;
  /* text-align: left; */
  /* padding: .3em 2.4em; */
  /* border: 2px solid deeppink; */

}

.card-header-mine>span {
  display: inline-block;
  /* border: 2px solid deeppink; */
}

.offcanvas-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: .3em;
}

.btn-close-mine {
  /* border: 2px solid deeppink; */
  justify-self: flex-end;
  width: 1.2em;
  margin: 0;
  padding: 0;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23099'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: none;
  transform: scale(60%);
}

.offcanvas-body {
  /* background-color: rgba(255, 255, 255, 0.2); */

  width: fit-content;
  height: 90%;
  border-left: .1px solid #4442;
  padding: 0 .2em;
}

.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  max-width: fit-content;
  /* background-color: #2345 important!; */

  /* border: 3px solid red; */
}

.offcanvasbody-full {
  height: 100%;
  /* opacity: .6; */
  /* background-color: #2345 important!; */
  filter: hue-rotate(222deg);
}

@media (min-width: 992px) {
  .show-offcanvas-button {
    display: none;
  }

  .btn-close-mine {
    display: none;
  }
}

.rr-link {
  text-decoration: none;
  color: var(--fore-gold);
}

.nav-vertical {
  height: 100%;
  /* border: 3px solid lime; */

}

.card-full-height {
  height: 100%;
  width: 100%;
  margin: 0;
  /* border: 3px solid orangered; */
}

.list-group-mine {
  margin: 0;
}

.nav-vertical {
  text-align: left;
}

/* #endregion */



/* 內內內內內 */
/* #region gro-cheri */

/* #endregion gro-cheri */